*{
    margin: 0;
    padding: 0;
}

header{
    background-color: mediumvioletred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

.icone{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

nav{
    width: 200px;
    background-color: #f2d0e0;
    padding: 10px;
    display: grid;
    align-items: stretch; 
    justify-items: start; 
     
}

main{
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px darkgray;
    text-align: center;
}

.bolo{
    width: 60%;    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumvioletred;
    height: 60px;    
}