*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;  
}


header{
    background-color:chocolate;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/-1;
}

.home-video{
    display: grid; 
    grid-template-rows:  1fr auto;
    grid-template-columns: auto;   
    justify-content: center; 
    align-items: center;
    margin: 20px
    
}

.retorna{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer{
    background-color: lightslategrey;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    grid-column: 1/-1;
}
